# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.env/
.venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large geospatial files
*.gpkg
*.tif
*.zip

